body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.whole {
    width: 500px;
    height: 500px;
    margin: 0;
    justify-self: center;

}

.container {
    display: flex;
}


.box {
    background-color: black;
}

button {
    margin: 10px 0 20px;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
}

.slider {
    width: 350px;
}
